@model WebApplication3.Models.Entities.EmpRole
@{
    ViewData["Title"] = "AddEmpRole";
}
@section Section_btn{
    <div class="btn-toolbar">
        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-EmployeeId="Model.EmployeeId">
            Back to List <i class="bi bi-arrow-right-circle"></i>
        </a>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmpRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items='new SelectList(ViewBag.Roles,"Id","Name")'></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Add</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
